.bookmarkCreate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

  h1 {
    grid-column: 1;
    margin-bottom: 1.8rem;
  }

  .form {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .cardPreview {
    grid-column: 2;
  }

  .cards {
    grid-column: 1 / -1;
    margin-top: 2.4rem;
  }

  input[type="file"] {
    display: none;
  }

  .imageUpload {
    font-size: 1.4rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.5);
    border: 0.3rem var(--gelo) dashed;
    cursor: pointer;
    border-radius: 0.8rem;

    &:hover {
      border-color: var(--gelo-escuro);
    }
  }

  button {
    margin-top: 1.6rem;
  }
}
