.menu {
  background-color: #eee;
  box-shadow: 5px 0px 0px 0px #ddd;
  padding: 1.6rem 0;
  h1 {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 1.6rem;
  }
}

.menuNav {
  display: flex;
  flex-direction: column;
  min-height: 92vh;

  .menu1 {
    flex: 1;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    font-size: 1.8rem;

    &:hover {
      background-color: var(--gelo-escuro);
    }
  }

  :global(.active) {
    background-color: var(--gelo-escuro);
  }

  svg {
    width: 2rem;
    height: 2rem;

    path {
      fill: #212121;
    }
  }

  .menu2:hover svg,
  .menu2 :global(.active) svg {
    animation: girarConfig 2s infinite linear;
  }
}

@keyframes girarConfig {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
