.card {
  background-color: var(--gelo);
  border-radius: 0.8rem;
  display: grid;
  gap: 1rem;
  height: 100%;
  overflow: hidden;

  &:hover {
    background-color: var(--gelo-escuro);
  }

  &:hover img {
    scale: 1.05;
    filter: brightness(0.6);
  }
}

.img {
  height: 26rem;
  overflow: hidden;
  background-color: var(--gelo-escuro);

  & img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 26rem;
    transition: 0.3s ease;
    border: none;
  }

  & img[src=""] {
    display: none;
  }
}

.cardInfo {
  padding-top: 1.6rem;
  height: 10rem;
  padding: 1.6rem;

  h2 {
    margin-bottom: 0.8rem;
    font-size: 3.2rem;
  }

  p {
    word-break: break-all;
    overflow-y: auto;
  }
}
