.search {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;

  input {
    background-color: var(--gelo);
    padding: 1rem;
    border-radius: 0.8rem;
    transition: 0.2s ease;
    grid-column: 1;
    height: 4rem;
    width: 40rem;

    &:hover,
    &:focus {
      background-color: var(--gelo-escuro);
    }
  }
}
