:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #212121;
}

input {
  border: none;
  outline: none;
  display: block;
}

label {
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #fff;
}

a {
  color: inherit;
}
